@model IList<CheeseMVC.Models.CheeseCategory>

@{
<ul>
    <p><a asp-controller="Category" asp-action="Add">Add Category</a></p>
   
    @foreach (var category in Model)
    {
        <li>
            <a asp-controller="Cheese" asp-action="Category" asp-route-id="@category.ID">@category.Name</a>
        </li>
    }
</ul>


    ViewData["Title"] = "Index";
}

<h2>Categories</h2>

